This tutorial notebook is used for python review.

# The Python Tutorial

## 1.Why python?

1. Compare to C/C++/Java, the usual write/complie/re-complie cycle is much more fast. 
2. Python is more simple to use, offering much more structure and support for large programs than shell scripts or batch files can offer.
1.  Python allows you to split your program into modules that can be reused in other Python programs. It comes with a large collection of standard modules that you can use as the basis of your programs — or as examples to start learning to program in Python.

4. Python enables programs to be written compactly and readably. Programs written in Python are typically much shorter than equivalent C, C++, or Java programs, for several reasons:

> -   the high-level data types allow you to express complex operations in a single statement;
>-   statement grouping is done by indentation instead of beginning and ending brackets;
>-   no variable or argument declarations are necessary.

## 2. Informal introduction

### 1.Numbers

**Basic calculation**

In [7]:
17/3

5.666666666666667

In [10]:
17//3 # floor division discards the fractional part

5

In [11]:
17 % 3  # the % operator returns the remainder of the division

2

**Powers**

In [12]:
2 ** 7  # 2 to the power of 7

128

In interactive mode, the last printed expression is assigned to the variable `_`

In [13]:
tax = 12.5 / 100

In [14]:
price = 100.50

In [15]:
price * tax

12.5625

In [16]:
price + _

113.0625

In [17]:
round(_,2)

113.06

###  2. Strings

**Basic String output**
> 1. Escape quotes using the backlash `\`
> 2. Create new line using `\n`
> 3. Add `r` before the first quote to read as raw strings
> 4. String literals can span multiple lines. One way is using triple-quotes: `"""..."""` or `'''...'''`. End of lines are automatically included in the string, but it’s possible to prevent this by adding a \ at the end of the line.

In [24]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [25]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [26]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [28]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [32]:
# End of lines are automatically included in the string
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

**Concatenation**
> 5. Strings can be concatenated (glued together) with the `+` operator, and repeated with `*`:
> 6. Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.
> 7. This only works with two literals though, **not with variables or expressions** :
    but they can concatenate with `+`

In [34]:
3 * 'un' + 'ium'   # Repeat three times and concatenated with ium

'unununium'

In [36]:
'Py'  'thon'       #Automatically concatenated

'Python'

In [38]:
# So, this feature is particularly useful when you want to break long strings:
text = ('Put several strings within parentheses '
      'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [39]:
#This only works with two literals though, not with variables or expressions :
prefix= 'py'
prefix 'thon'

SyntaxError: invalid syntax (<ipython-input-39-d0af82720f88>, line 3)

In [41]:
#Can be concatenated with + esperession
prefix= 'py'
prefix +'thon'

'python'

**String indexing, slicing**
> 1. Strings can be indexed (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one.

> 2. Indices may also be negative numbers, to start counting from the right:

> Note that since -0 is the same as 0, negative indices start from -1.

> 1. Note how the **start** is always included, and the **end always excluded**. This makes sure that 
`s[:i] + s[i:]` is always equal to `s `

In [42]:
word='Python'

In [50]:
word[0]==word[-6]  # Both index the first character 'P'

True

In [55]:
word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [56]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [57]:
word[-1]

'n'

**Others** 

> Python strings cannot be changed — they are **immutable**.Therefore, assigning to an indexed position in the string results in an error

>If you need a different string, you should create a new one

In [60]:
word[0] ='J'

TypeError: 'str' object does not support item assignment

In [61]:
'J' + word[1:]

'Jython'

### 3. Lists  (mutable!)
**Basics**  
Python knows a number of **compound** data types, used to group together other values.  
The most **versatile** is the list, which can be written as a list of comma-separated values (items) between square brackets.   
Lists might **contain items of different types**, but usually the items all have the same type.

**Indexing and slicing**
> 1. Like strings (and all other built-in sequence type), lists can be indexed and sliced:
> 2. All slice operations return a new list containing the requested elements. This means that the following slice returns a **new (shallow) copy** of the list:
> 3. Lists also support operations like concatenation:

In [64]:
#1. Can be indexed and sliced
squares = [1, 4, 9, 16, 25]
squares[0]

1

In [65]:
# 2. the slice operation return a new list (shallow) copy of the list
squares[-3:]

[9, 16, 25]

In [67]:
# 3. Support concatenation
squares[-3:] + [36, 49, 64, 81, 100]

[9, 16, 25, 36, 49, 64, 81, 100]

**List is mutable!**  
> 1. lists are a mutable type, i.e. it is possible to change their content:
> 1. Can add new items at the end of the list, by using the append() method (we will see more about methods later):
> 1. **Remove** the list item can be achieved by assign null to the certain elements
> 1. Can be nested

In [81]:
# 1. Mutable! change the content
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4**3

64

In [82]:
cubes[3]= _    #replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [83]:
#2. add new items at the end of the list
cubes.append(3)
cubes

[1, 8, 27, 64, 125, 3]

In [91]:
# 3. delete the 'd', 'e'
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [92]:
letters[3:5]=[]   # replace with null and remove them
letters

['a', 'b', 'c', 'f', 'g']

In [94]:
# clear the list by replacing all the elements with an empty list
letters=[]
letters

[]

In [95]:
# Nested list
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]

In [100]:
>>> x[0][0]

'a'

### Programming example

In [98]:
>>> # Fibonacci series:
... # the sum of two elements defines the next
... a, b = 0, 1
>>> while a < 10:
...     print(a)
...     a, b = b, a+b
...
0
1
1
2
3
5
8

0
1
1
2
3
5
8

8

This example introduces several new features.

> The first line contains a **multiple assignment**:
    the variables `a and b` simultaneously get the new values `0 and 1`.  On the last line this is used again, demonstrating that the expressions on the right-hand side are all evaluated first before any of the assignments take place. The right-hand side expressions are evaluated from the left to the right.

> The while loop executes as long as the condition (here: a < 10) remains true. In Python, like in C, any non-zero integer value is true; zero is false. The condition may also be a string or list value, in fact any sequence; anything with a non-zero length is true, empty sequences are false. 

>The body of the loop is **indented**: indentation is Python’s way of grouping statements. 

>The keyword argument `end` can be used to avoid the newline after the output, or end the output with a different string:

In [110]:
#The keyword argument end can be used to avoid the newline after the output, or end the output with a different string:
>>> a, b = 0, 1
>>> while a < 1000:
...     print(a, end=',')
...     a, b = b, a+b
...

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

## 3. More Control flows